# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
*.env
venv/
env/
.venv/
*.egg-info/
dist/
build/
*.sqlite3

# Django
staticfiles/
media/

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Render
.render/
